.app-header {
    height: 60px;
    border-bottom: 1px solid #e8e8e8;
    background-color: #fff;
    position: relative;
    z-index: 10;
}

.app-title {
    line-height: 60px;
    vertical-align: middle;
    font-size: 1.2em;
}

.app-branding {
    float: left;
}

.app-options {
    float: right;
}

.app-nav ul {
    list-style-position: none;
    margin: 0;
    padding: 0;
}

.app-nav ul li {
    list-style-type: none;
    display: inline-block;
}

.app-nav ul li a {
    display: inline-block;
    line-height: 60px;
    vertical-align: middle;
    padding-left: 15px;
    padding-right: 15px;
}